# PyInstaller
build/
dist/
*.spec
!CursorKeepAlive.mac.spec
!CursorKeepAlive.win.spec

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# IDE
.vscode/
.idea/

# Mac
.DS_Store

venv/

node_modules/

.env

screenshots/
/cursor_accounts_20250208_200711.txt
/auto_register.py
/.gitee/go/build.yml
